.env
*.env
Unified_PDF_Platform/.env
venv/
__pycache__/
unified_PDF_Platform/unified_outputs
insurance_pdf_extractor-main/backend/outputs
sources/
Unified_PDF_Platform/uploads
work_compenstaion/backend/outputs
work_compenstaion/__pycache__
work_compenstaion/sources
outputs/

unified_PDF_Platform/uploads/
unified_PDF_Platform/unified_outputs
monitor/monitor.log
monitor/requests.db